@using InternetShop.DAL.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager

@if (UserManager.GetUserName(User)!=null)
{
    <div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                    Hello @UserManager.GetUserName(User)!
            </li>
            <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" >Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}