@using BotDetect.Web.Mvc
@model InternetShop.ViewModels.RegisterViewModel
@section header {

    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" /> }
<h2>Register new user</h2>

<form method="post" asp-controller="Account" asp-action="Register" asp-anti-forgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Year"></label><br />
        <input asp-for="Year" />
        <span asp-validation-for="Year"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label><br />
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <captcha id="UserRegisterCaptcha" user-input-id="CaptchaCode" />
        <div class="actions">
            <input asp-for="CaptchaCode" />
            <span asp-validation-for="CaptchaCode"></span>
            @if ((Context.Request.Method.ToUpper() == "POST") && ViewData.ModelState.IsValid)
            {
                <span class="correct">Correct!</span>
            }
        </div>
    </div>
    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form>